PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://marcus:marcus@localhost:5432/janus_idp?schema=public"

# OIDC Configuration
ISSUER_URL=http://localhost:3000/oidc
OIDC_CLIENT_ID=test_client
OIDC_CLIENT_SECRET=test_secret
OIDC_REDIRECT_URIS=https://oidcdebugger.com/debug
COOKIE_KEYS=uma_chave_secreta_para_dev_1,uma_chave_secreta_para_dev_2

